.wrapper {
   background: url(../../public/assets/images/serviceListBg.jpg);
   padding: var(--b-spacing-l) 0 128px;
}
.listWrapper {
   width: 100%;
   justify-content: space-between;
}
.title {
   max-width: 660px;
   width: 100%;
   line-height: 1.4;
}
.list {
   max-width: 460px;
   width: 100%;
}
.serviceList {
   background: url();
   margin-bottom: var(--b-spacing-ms);
}
.icon {
   margin-right: var(--b-spacing-m);
}

@media (max-width: 1024px) {
   .listWrapper {
      position: static;
      padding-top: 125px;
   }
   .title {
      margin-bottom: var(--b-spacing-l);
   }
}