.wrapper {
   background: var(--b-bg-color2);
   background-image: url('../../public/assets/images/rasmus.jpg');
   background-repeat: no-repeat;
   background-position: right;
   padding: 100px 0;
}
.mobPhoto {
   display: none;
}
.content {
   max-width: 500px;
   width: 100%;
}
.content div {
   line-height: 160%;
}
.externalLink {
   color: var(--b-txt-color2);
   font-family: var(--b-font-family-semiBold);
   font-size: var(--b-font-size-xl);
   line-height: 200%;
   transition: var(--b-transition-speed) linear;
}
.externalLink:hover {
   color: var(--b-txt-color5);
}
.emailLink {
   text-decoration: underline var(--b-txt-color2) solid 1px;
}
.emailLink:hover {
   text-decoration: none;
}

@media (max-width: 1024px) {
   .wrapper {
      padding: 0;
      background-image: none;
   }
   .content {
      padding: 40px 0 80px;
   }
   .mobPhoto {
      display: block;
   }
}