.wrapper {
   padding: 80px 0;
   background: var(--b-bg-color3);
}
.content {
   width: 100%;
}
.icon {
   margin-bottom: var(--b-spacing-l);
   align-items: center;
}
.item {
   min-width: 180px;
   margin-right: calc(var(--b-spacing-xl) + var(--b-spacing-ms));
}
.mapInfo {
   padding-left: var(--b-spacing-ms);
}